


<!DOCTYPE html>
<html>
<head>
<title>C Exercises</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1>C Exercises</h1>
<nav>
<a href="/">Home</a>
<a href="/tutorials">Tutorials</a>
<a href="/exercises">Exercises</a>
<a href="/forum">Forum</a>
</nav>
<main>
<section>
<h2>Challenge yourself with our精选 C exercises:</h2>
<ul>
<li><a href="/exercise/1">Write a program to print "Hello, World!"</a></li>
<li><a href="/exercise/2">Write a program to find the sum of two numbers</a></li>
<li><a href="/exercise/3">Write a program to find the factorial of a number</a></li>
<li><a href="/exercise/4">Write a program to find the greatest common divisor of two numbers</a></li>
<li><a href="/exercise/5">Write a program to find the least common multiple of two numbers</a></li>
<li><a href="/exercise/6">Write a program to reverse a string</a></li>
<li><a href="/exercise/7">Write a program to find the largest element in an array</a></li>
<li><a href="/exercise/8">Write a program to sort an array in ascending order</a></li>
<li><a href="/exercise/9">Write a program to search for an element in an array</a></li>
<li><a href="/exercise/10">Write a program to create a linked list</a></li>
</ul>
</section>
</main>
<footer>
<p>Copyright &copy; 2023 Learn C Code for Students</p>
</footer>
</body>
</html>



